.FProductsiconbox {
    text-align: center;
    min-height: 355px;
}
.onlineStoreArea .carousel-control {
    width: 3%;
    height: 5%;
    top: -50px;
}
.collectionBanner {
    background: url(../images/collectionbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0px;
    min-height: 300px;
    text-align: center;
    vertical-align: middle;
}
.collectionBanner h1 {
    align-items: center;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5%;
}
.headSlider {
    border-bottom: 1px solid #0c94ea;
    margin-bottom: 15px;
}
.GroupClassSliderArea h2 {
    font-size: 20px;
    color: #0c94ea;
    text-transform: uppercase;
}
.btnSlider {
    margin: 0px 5px;
}
.controls {
    margin-top: 15px;
}
.searchTrainer input {
    height: 43px;
    border-radius: 0px;
    background: #ccc;
}
.searchTrainer {
    margin-top: 30px;
}
.searchTrainer .btnSearch {
    text-align: center;
    height: 43px;
    width: 100%;
}
.searchTrainer .flaticon-loupe:before {
    content: "\f101";
    font-size: 14px;
    padding: 0px 8px;
    margin: 0px;
}