.innerPageBlank {
    background: #e9e9e9;
}
.bgProfile {
    background: #fff;
    padding: 15px;
    margin: 50px 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.bgProfile h2 {
    font-size: 20px;
    color: #0c94ea;
    text-transform: uppercase;
}
.headSlider {
    border-bottom: 1px solid #0c94ea;
    margin-bottom: 15px;
}
.controls {
    margin-top: 15px;
}
.col-item {
    margin: 15px;
    background: #e9e9e9;
}
.Details {
    text-align: center;
    line-height: 12px;
    padding: 15px 0px;
    min-height: 101px;
}
.Details h5 {
    margin: 5px 0px;
    font-weight: 900;
}
.btnSlider {
    margin: 0px 5px;
}
.headArea h1 {
    background: #0c94ea;
    color: #fff;
    width: max-content;
        font-size: 22px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.headArea h2 {
    border-bottom: 0px solid;
    color: #fff;
        font-size: 20px;
    text-transform: uppercase;
    background: #333333;
    width: max-content;
    padding: 5px 10px;
    margin: 0px;
}
#GroupClassSlider a {
    color: #000;
    text-decoration: none;
}