@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body,html {
  font-size: 15px;
  line-height: 1.4666666667;
  color: #000;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5{
	
}
.btnAdvSearch {
    padding: 10px 10px;
}
.trainingSession{
	font-family: 'Bebas Neue', cursive;
}
.btn-primary {
    color: #fff;
    background-color: #0f96e7;
    border-color: #0f96e7;
}
.btn-primary:hover {
    color: #fff;
    background-color: #505050;
    border-color: #505050;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
        color: #fff;
    background-color: #505050;
    border-color: #505050;
}
.navbar-nav li a {
    color: #fff;
    font-size: 14px;
    padding: 30px 16px;
    font-weight: 600;
    margin-right: 5px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 4px solid #505050;
    color: #505050;
}
.contentArea {
    background: #0f96e7;
    text-align: center;
    color: #fff;
    padding: 50px 0px;
}

.topHeader {
    background: #0c94ea;
}
.logoArea {
        padding: 12px 14%;
}
.menuBar {
    float: right;
}
.cartArea {
    padding: 12px 0px;
    position: relative;
}
.cartArea .flaticon-bell:before {
    content: "\f103";
    margin: 0px;
    font-size: 32px;
}
.cartArea .flaticon-cart:before {
    content: "\f11b";
    margin: 0px;
    font-size: 32px;
}
.notificationArea {
    position: absolute;
    z-index: 999;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}
button#notification {
    text-decoration: none;
    color: #fff;
}

.cartItemArea {
    position: absolute;
    z-index: 999;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    width: 124%;
    right: 0px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}
button#cartItems {
    text-decoration: none;
    color: #fff;
}
td.cartImg {
    width: 13%;
}


.btn-UserLogin {
    background: #fff;
    border-radius: 27px;
    color: #0c94ea;
}
.btn-cart {
    color: #fff;
}
.cartArea a {
    font-size: 16px;
    text-decoration: none;
}
.cartArea a:hover {
    color: #fff;
    text-decoration: none;
}
.mainSliderArea {
    background: url(../images/bannerbg.jpg);
    background-repeat: no-repeat;
        background-size: cover;
    background-position: center center;
   /* min-height: 714px; */
}
.mainImageContent h4 {
    color: #fff;
    background: #0c94ea;
    width: 28%;
    text-align: center;
    font-size: 13px;
    padding: 20px 5px;
    border-radius: 10px;
    text-transform: uppercase;
}
.mainImageContent h1 {
    color: #fff;
    width: 45%;
    font-weight: 600;
    font-size: 45px;
}
.mainImageContent h1 span {
    border-bottom: 4px solid #0c94ea;
}
.perTrain {
    padding: 36px 12px;
}
.sliderBtnsArea {
    display: flex;
    background: #fff;
    width: 49%;
    padding: 20px 15px;
    border-radius: 10px;
}
.sliderBtnslist1 {
    width: 29%;
    padding-left: 0px;
}
ul.sliderBtnslist1 {
    margin-bottom: 0px;
}
.sliderBtnslist2 {
    width: 67%;
    padding-left: 0px;
    margin-bottom: 0px;
}
.sliderBtnslist2 .btnsliderList {
    margin: 6px 0px;
}
.sliderSearchArea {
    width: 61%;
    margin-top: 15px;
}
.findTrainer-Btn {
    padding: 15px 15px;
}
input#trainerSearch {
    height: 52px;
}
.mainImageContent {
    margin-top: 100px;
    margin-bottom: 100px;
}
.carousel-indicators {
    display: none;
}

.FProductsiconbox {
    text-align: center;
}
.FProductsimagecontent {
    font-weight: 700;
	margin-top: 5px;
}
.FProductsStars .checked {
    color: orange;
}
.btnCart {
    background: #b8272e;
    border-radius: 34px;
	margin-top: 5px;
}
.FProductsStars {
    margin-top: 5px;
}
.FProductsiconImage {
    border: 5px solid #ccc;
}
.FProductsiconImage img {
    margin: 0 auto;
}
.onlineStoreArea .carousel-control {
    width: 3%;
    height: 10%;
    top: -50px;
}
.onlineStoreArea .carousel-control.left {
    background: #0b92eb;
	left: 89%;
}
.onlineStoreArea .carousel-control.right {
    background: #0b92eb;
	
}

.onlineStoreArea .carousel-inner {
    position: initial;
}
div#store-carousel {
    margin: 10px 0px;
	position:relative;
}
.onlineStoreArea .carousel-control .glyphicon-chevron-left,.onlineStoreArea .carousel-control .glyphicon-chevron-right,.onlineStoreArea .carousel-control .icon-next,.onlineStoreArea .carousel-control .icon-prev {
    width: 25px;
    height: 30px;
    margin-top: -9px;
    font-size: 18px;
}
.onlineStoreArea h2 {
    padding-top: 2px;
    color: #0b92eb;
    font-weight: 800;
	text-transform: uppercase;
}
.onlineStoreArea h2 span {
    font-weight: 300;
}
.onlineStoreArea h2::after {
    border-top: 1px solid #ccc;
    content: "";
    margin: 0px auto;
    position: absolute;
    top: 64%;
    left: 101px;
    right: 0px;
    bottom: 0px;
    width: 64%;
    z-index: -1;
}


.onlineStoreArea {
    padding: 50px 0px;
}
.groupClassesArea img {
    margin: 0 auto;
}

.groupClassesArea .carousel-control {
    width: 3%;
    height: 10%;
    top: -50px;
}
.groupClassesArea .carousel-control.left {
    background: #0b92eb;
	left: 89%;
	height: 33px;
}
.groupClassesArea .carousel-control.right {
    background: #0b92eb;
	height: 33px;
	
}
.groupClassesArea .carousel-inner {
    position: initial;
}
div#GClass-carousel {
    margin: 10px 0px;
	position:relative;
}
.groupClassesArea .carousel-control .glyphicon-chevron-left,.groupClassesArea .carousel-control .glyphicon-chevron-right,.groupClassesArea .carousel-control .icon-next,.groupClassesArea .carousel-control .icon-prev {
    width: 25px;
    height: 30px;
    margin-top: -9px;
    font-size: 18px;
}
.groupClassesArea h2 {
    padding-top: 2px;
    color: #0b92eb;
    font-weight: 800;
	text-transform: uppercase;
}
.groupClassesArea h2 span {
    font-weight: 300;
}
.groupClassesArea {
    padding: 50px 0px;
	background:#e9e9e9;
}
.groupClassBox {
    background: #dddddd;
}
.groupClassHead {
    font-weight: 700;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 15px;
}
.groupClasstext {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.groupClassesArea h2::after {
	border-top: 1px solid #c1bcbc;
    content: "";
    margin: 0px auto;
    position: absolute;
    top: 64%;
    left: 60px;
    right: 0px;
    bottom: 0px;
    width: 60%;
    z-index: 0;
}
.LiveSessionArea .carousel-control {
    width: 3%;
    height: 10%;
    top: -50px;
}
.LiveSessionArea .carousel-control.left {
    background: #0b92eb;
	left: 89%;
	height: 33px;
}
.LiveSessionArea .carousel-control.right {
    background: #0b92eb;
	height: 33px;
	
}
.LiveSessionArea .carousel-inner {
    position: initial;
}
div#LiveSession-carousel {
    margin: 10px 0px;
	position:relative;
}
.LiveSessionArea .carousel-control .glyphicon-chevron-left,.LiveSessionArea .carousel-control .glyphicon-chevron-right,.LiveSessionArea .carousel-control .icon-next,.LiveSessionArea .carousel-control .icon-prev {
    width: 25px;
    height: 30px;
    margin-top: -9px;
    font-size: 18px;
}
.LiveSessionArea h2 {
    padding-top: 2px;
    color: #0b92eb;
    font-weight: 800;
	text-transform: uppercase;
}
.LiveSessionArea h2 span {
    font-weight: 300;
}
.LiveSessionArea {
    padding: 50px 0px;
	background:#fff;
}

.LiveSessionArea h2::after {
	border-top: 1px solid #c1bcbc;
    content: "";
    margin: 0px auto;
    position: absolute;
    top: 64%;
    left: 60px;
    right: 0px;
    bottom: 0px;
    width: 60%;
    z-index: 0;
}

.liveSessionImg img {
    border-radius: 104%;
    border: 9px solid #ccc;
}

.liveSessionImg {
    position: relative;
}
.liveSessionActive {
    background: #29eb78;
    height: 40px;
    width: 40px;
    border-radius: 21px;
    border: 5px solid #fff;
    position: absolute;
    bottom: 28px;
    right: 20px;
}
.liveSessionDeactiveActive {
    background: #ccc;
    height: 40px;
    width: 40px;
    border-radius: 21px;
    border: 5px solid #fff;
    position: absolute;
    bottom: 28px;
    right: 20px;
}
.LiveSessionContetn {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 15px;
}
.tabsImg {
    margin: 15px 0px;
}
.galleryArea .nav.nav-pills {
    float: right;
	margin-top: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #0c94ea;
    border-radius: 30px;
    padding: 5px 30px;
    border: 0;
}
.galleryArea .nav>li>a:focus,.galleryArea .nav>li>a:hover {
    color: #fff;
    background-color: #0c94ea;
    border-radius: 30px;
    padding: 5px 30px;
	border-bottom: 0px ;
}
.galleryArea .nav-pills>li>a {
    color: #000;
    padding: 5px 30px;
	    border: 1px solid #337ab7;
    border-radius: 45px;
}
.galleryArea .nav-pills li.active a {
    color: #fff;
}
.galleryArea {
    padding: 50px 0px;
}
.galleryArea h2 {
    text-transform: uppercase;
    color: #0b92eb;
}
.trainingSesion {
    background: #d7e8f2;
    padding: 50px 0px;
}
.textTrainLight {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 34px;
    margin-top: 30px;
}
.textTrainBold {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
}

.btnTraingArea {
    text-align: center;
}
.btnJoinTrain {
    font-size: 42px;
    font-weight: 800;
    border-radius: 51px;
    padding: 10px 50px;
    background: rgb(232,92,36);
    background: -moz-linear-gradient(left, rgba(232,92,36,1) 0%, rgba(238,136,30,1) 100%);
    background: -webkit-linear-gradient(left, rgba(232,92,36,1) 0%,rgba(238,136,30,1) 100%);
    background: linear-gradient(to right, rgba(232,92,36,1) 0%,rgba(238,136,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85c24', endColorstr='#ee881e',GradientType=1 );
}
.btnJoinTrain:hover {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ee881e+0,e85c24+100 */
background: rgb(238,136,30); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(238,136,30,1) 0%, rgba(232,92,36,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(238,136,30,1) 0%,rgba(232,92,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(238,136,30,1) 0%,rgba(232,92,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee881e', endColorstr='#e85c24',GradientType=1 ); /* IE6-9 */
}

.nutriationArea .panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nutriationArea .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    background: #0c94ea;
    color: #fff;
    text-decoration: none;
}

.nutriationArea .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.nutriationArea .panel-default>.panel-heading a[aria-expanded="true"] {
  background: #0c94ea;
}

.nutriationArea .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nutriationArea .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nutriationArea {
    background: url(../images/nutritionbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	padding:50px 0px;
}
.nutriationArea .panel-group .panel {
    border-radius: 0px;
}
.nutriationArea .panel-default{
    background: transparent;
}

.nutriationArea .panel-default .panel-body {
    background: transparent;
    color: #fff;
}
.dailyTipsArea h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}
.dailyTipsArea h2 span {
    font-weight: 900;
}
.nutrationCalArea h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}
.nutrationCalArea h2 span {
    font-weight: 900;
}
.nutrationCalArea thead {
    background: #0c94ea;
    color: #fff;
}
.nutrationCalArea tbody tr {
    background: #fff;
}
.nutrationCalArea .table {
    border-collapse: separate;
    border-spacing: 0 6px;
}
.nutrationCalArea {
    filter: blur(0.1px);
    -webkit-filter: blur(0.1px);
    opacity: 0.3;
}
.btnCal {
    width: 100%;
    font-size: 27px;
    font-weight: 700;
    line-height: 25px;
    padding: 20px 0px;
    border-radius: 64px;
}
.btnCal span {
    font-weight: 100;
}
.footerArea {
    background: #0c94ea;
    color: #fff;
    padding: 30px 0px;
    font-weight: 400;
}
.footerArea h3 {
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}
.ftrLogo {
    margin: 5px 0px;
}
.ftrLinks ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.ftrList li {
    padding: 0 0 5px 25px;
    position: relative;
}
ul.ftrList li:before {
    content: "\f054";
    font-family: 'FontAwesome';
    left: 0;
    position: absolute;
    top: 0;
}
ul.ftrList a {
    color: #fff;
}
.copyRightArea {
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}
/* InnerPage Global Css */
.pageTitle {
    text-transform: uppercase;
    color: #0c94ea;
}
.innerPageBlank{
    min-height: 500px;
    margin-top: 2%;
}
.innerPage{
    position: relative;
    min-height: 500px;
}
.innerPage:before{
        width: 100%;
    content: " ";
    height: 50%;
    background-image: url(../images/leftBg.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    bottom: 0px;
    right: 0px;
}
.innerPage:after {
    width: 19%;
    content: " ";
    height: 40%;
    background-image: url(../images/rightBg.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    top: 0px;
    left: 0px;
}
    .formAdvanceSearch .modal-body input {
    height: auto;
}
.AdvanceSearchArea h2 {
    text-align: center;
    font-size: 22px;
    background: #000;
    color: #fff;
    padding: 10px;
}

/* InnerPage Global Css */
/* Small Devices, Tablets 
@media only screen and (max-width : 768px) {

}*/
/* Extra Small Devices, Phones 
@media only screen and (max-width : 480px) */ 
@media only screen and (max-width : 768px){
	
.textTrainLight {
    font-size: 45px;
    line-height: 45px;
    margin-top: 3px;
}
.textTrainBold {
    font-size: 60px;
    line-height: 60px;
}
.mainImageContent {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mainImageContent h4 {
    width: 100%;
}
.mainImageContent h1 {
    width: 100%;
    font-size: 32px;
    text-align: center;
}
.sliderBtnsArea {
    display: block;
    width: 100%;
}
.sliderBtnslist1 {
    width: 100%;
    text-align: center;
}
.sliderBtnslist2 {
    width: 100%;
}
.sliderSearchArea {
    width: 100%;
	text-align: center;
}
.btnCal {
    font-size: 16px;
    padding: 13px 0px;

}
.ftrLogo img {
    margin: 0 auto;
}
.footerArea {
    text-align: center;
}

.xs-marker a,
.xs-phone a {
    color: #fff;
    font-size: 23px;
}
.xs-marker .fa,
.xs-phone .fa {
	padding-right:10px;
}
.xs-phone,
.xs-marker {
    margin-top: 10px;
	color: #fff;
}
.menuBar {
    float: none;
}
.navbar-nav li a {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
    border-bottom: 0px;
}
button#mnav-button {
    color: #fff;
}
.carousel-control {
    width: 15%;
    height: 10%;
    top: -89px;
    right: 3px;
}
.liveSessionImg img {
    margin: 0 auto;
}
.tab-content {
    margin-top: 125px;
}
}