

.tabros {
    background-color: white;
     background-color: white;
    padding-top: 6px;
}
.helix {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}
.obi {
    margin-top: -20px;
}
.modulesu {
    background-color: #0c94ea;
    margin-left: 0px;   
    padding-top: 0px;
    padding-left: 11px;
    margin-top: -10px;
    width: 45%;
}

h1.display-4 {
    color: white;
    padding: 12px 0px;
}
.category {
    margin-top: 25px;
    padding-left: 1px;
    margin-bottom: 29px;
}

.date {
    padding-left: 20;
    padding-left: 1px;
    margin-bottom: 29px;
}

input#yoga {
    padding-right: 51px;
    margin-left: 27px;
}

input#folic {
    padding-right: 52px;
    margin-left: 11px;
}

.button1 {
    margin-top: 31px;
    background-color: #0c94ea;
    border-radius: 7px;
    font-size: 22px;
    color: white;
}

button#obu {
    /* color: black; */
    background-color: black;
    margin-left: 19px;
}
p#demo {
    font-size: 29px;
    margin-top: -41px;
    margin-left: 103px;

    }

    label#type {
    padding-right: 18px;
    padding-left: 3px;
    font-size: bold;
    font-weight: bold;
}