

.modal-content {
    width: 157%;
    margin-left: -114px;
}

.modal-header {
    padding: 14px;
     border-bottom: 0px solid #e5e5e5; 
}
.modclick {
    height: 35px !important;
    font-size: 16px !important;
    background: #0c94ea !important;
    border-color: white !important;
    color: white !important;
}
.modalheaddata h4 {
    text-align: center;
    color: #0c94ea;
    font-size: 25px;
    font-weight: 700;
}
.shedulebox th {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 30px;
}
.modalclick {
    text-align: center;
}

h4.mymodal-title {
    color: #0c94ea;
    padding-left: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0px;
}
.themodal-content {
    margin-top: 208px;
    padding-bottom: 40p;
    padding-bottom: 39px;
}


h4.themodal-title {
    color: #0c94ea;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
}
.img1 img {
    height: 150px !important;
    width: 200px !important;
    margin: 0 auto !important;
}

.text {
    font-weight: 600;
    margin-top: 12px;
    text-align: center;
    font-size: 17px;
}
.stars {
    color: gold;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: -5px;
}
.ob {
    text-align: center;
}
.number {
    color: #0c94ea !important;
    font-size: 19px !important;
    text-align: center !important;
    font-weight: 600 !important;
}

button#byer{
    margin-left: 49px;
    /* background-color: #0c94ea; */
    width: 206px;
    /* margin-right: 53px; */
    /* padding-left: 15px; */
    margin-left: 11px;
    background-color:red ;
    border-radius: 7px;
    width: 15%;
}

.themodal-content{


    width: 174%;
}

.body{


    position: fixed;
}
