
.main.box {
    margin-top: 239px;
    margin-left: 106px;
    background-color: #e6e6e6;
}

.number {
    margin-left: 70px;
    color: #0c94ea;
    margin-top: 8px;
   

}

.modules h1 {
    font-size: 33px;
    padding-top: 12px;
}

.content {
    padding: 0px 30px !important;
    padding-top: 15px !important;
    background: #e9e9e9 !important;
    margin-left: 100px !important;
}

.group.classes {
    font-size: 25px;
    color: white;
    background-color: #0c94ea;
    margin-bottom: 41px;
    padding-bottom: 11px;
    padding-top: 13px;
    text-align: center;
}

.main.box {
    border: 0px solid blue;
    height: 264px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 10px;
}
    

.col-sm-4{
    margin-left: 40px;
}

.modules {
    background-color: #0c94ea;
    color: white;
    padding: 1px 8px;
    padding-top: 0px;
    width: 165px;
}


.main.area {
    background-color: white;
    margin-top: 80px;
    margin-right: -45px;
}


    .bottom{

    color:#e6e6e6;
    }


    .col-sm-4 {
    padding-top: 1px;
    padding-bottom: 12px;
}

.sight {
  font-weight: bold;
    margin-left: 25px;
    font-size: 16px;
   
}





.ruquest {
    margin-top: 8px;
}