

.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.trainerSelect .nav-pills>li.active>a,.trainerSelect .nav-pills>li.active>a:focus,.trainerSelect  .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #204d74;
    border-radius: 3px;
    padding: 6px 15px;
    border: 1px solid #204d74;
}
.trainerSelect .nav>li>a {
    padding: 6px 15px;
}
.trainerSelect .nav>li>a:focus,.trainerSelect  .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 1px solid;
    color: #505050;
}
.trainerSelect li.active.btn.btn-primary.btnTabs {
    padding: 0px;
}
.trainerSelect .btnTabs {
    padding: 0px;
}


.ADSearchTrainerBoxImg {
    position: relative;
}
.ADSearchTrainerBoxImg img {
    border-radius: 104%;
    border: 5px solid #ccc;
}
.ADSearchTrainerActive {
    background: #29eb78;
    height: 20px;
    width: 20px;
    border-radius: 21px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 20px;
    right: -3px;
}
.ADSearchTrainerDeactiveActive {
    background: #ccc;
    height: 20px;
    width: 20px;
    border-radius: 21px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 20px;
    right: -3px;
}
.ADSearchTrainerName {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px;
}
.trainerSelect .list-inline>li {
    width: 19%;
}