div.content {
    background: #fff;
}
.pageTitle {
    text-align: left;
}
.featuredTrainerBoxImg {
    position: relative;
}
.featuredTrainerBoxImg img {
    border-radius: 104%;
    border: 5px solid #ccc;
}
.featuredTrainerActive {
    background: #29eb78;
    height: 20px;
    width: 20px;
    border-radius: 21px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 5px;
    right: -4px;
}
.featuredTrainerDeactiveActive {
    background: #ccc;
    height: 20px;
    width: 20px;
    border-radius: 21px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 5px;
    right: -4px;
}
.featuredTrainerName {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px;
}
.featuredTrainerArea li {
    width: 24%;
}
.productImg {
}
.recomendedItem {
    display: flex;
    width: 100%;
}
.productName {
    text-align: center;
    margin-top: 26px;
    width: 100%;
}
.productAction {
    margin-top: 29px;
}
.recomendedItemsArea h2 {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.participantsArea select {
    background: #0c94ea;
    color: #fff;
    font-weight: 700;
}