.profileBoxImg {
    position: relative;
}
.profileBoxImg img {
    border-radius: 104%;
    border: 5px solid #ccc;
}
.profileTrainerActive {
    background: #29eb78;
    height: 20px;
    width: 20px;
    border-radius: 21px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.profileTrainerName {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.profileImgArea {
    text-align: center;
    width: 15%;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 41%;
}
.InnerContent {
    background: #e9e9e9;
    padding: 30px 30px;
    margin: 50px 0px;
    padding-top: 150px;
    margin-top: 100px;
}
.profileTrainerRating .checked {
    color: orange;
}
.profileExpertiesArea ul {
    text-align: center;
}
.upcomingClasses ul {
    text-align: center;
}
.profileGoalsArea {
    text-align: center;
    width: 57%;
    margin: 0 auto;
    font-size: 24px;
}
.bgProfile {
    background: #fff;
    padding: 15px;
        margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.bgProfile h2 {
    font-size: 20px;
    border-bottom: 1px solid;
    color: #0c94ea;
    text-transform: uppercase;
}
.profileVideosArea li {
    width: 14%;
}
.packagePrice{
	text-align: center;
}
/*calander*/

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
    background: #fff;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_content {
    padding: 30px 0px;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #000;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #0e91e9;
    border: 1px solid #dcdcdc;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
    background: #0d93ea;
    margin-bottom: 20px;
}
.calendar_header h2 {
        padding: 10px 0px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    float: left;
    width: 70%;
    margin: 0 0 0px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    padding: 10px 0px;
    transition: color .2s;
}
button.switch-month:hover {
    color: #000;
}
.calanderHead {
    text-align: center;
    color: #0c94ea;
    font-weight: lighter;
    padding: 40px 0px;
    margin: 0px;
}

/*calander*/
.ProfileCalander {
    overflow: auto;
}

.col-item {
    margin: 15px;
    background: #e9e9e9;
}
.Details {
    text-align: center;
    line-height: 12px;
    padding: 15px 0px;
    min-height: 101px;
}
.Details h5 {
    margin: 5px 0px;
    font-weight: 900;
}
.headSlider {
    border-bottom: 1px solid #0c94ea;
    margin-bottom: 15px;
}
.GroupClassSliderArea h2 {
    border-bottom: 0px;
}
.controls {
    margin-top: 15px;
}
.btnSlider {
    margin: 0px 5px;
}